## Get our environment set up
The first thing we'll need to do is load in the libraries and dataset we'll be using.

In [36]:
# modules we'll use
import pandas as pd
import numpy as np

# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import chardet

# read in all our data
professors = pd.read_csv("../input/pakistan-intellectual-capital/pakistan_intellectual_capital.csv")

# set seed for reproducibility
np.random.seed(0)

Add Some more packages

In [37]:
import re

### Do some preliminary text pre-processing
We'll begin by taking a quick look at the first few rows of the data.

In [38]:
professors.head()

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,2,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
1,4,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN
2,5,6,Dr. Junaid Baber,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"Information processing, Multimedia mining",NaN
3,6,7,Dr. Maheen Bakhtyar,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"NLP, Information Retrieval, Question Answering...",NaN
4,24,25,Samina Azim,Sardar Bahadur Khan Women's University,Computer Science,Balochistan,Lecturer,BS,Balochistan University of Information Technolo...,Pakistan,2005.0,VLSI Electronics DLD Database,NaN

Say we're interested in cleaning up the "Country" column to make sure there's no data entry inconsistencies in it. We could go through and check each row by hand, of course, and hand-correct inconsistencies when we find them. There's a more efficient way to do this, though!

In [39]:
# get all the unique values in the 'Country' column
countries = professors['Country'].unique()

sorted_countries = countries.copy()
sorted_countries.sort()
sorted_countries  # those starting with blanks are first

# sort them alphabetically and then take a closer look
countries.sort()
countries

array([' Germany', ' New Zealand', ' Sweden', ' USA', 'Australia',
       'Austria', 'Canada', 'China', 'Finland', 'France', 'Greece',
       'HongKong', 'Ireland', 'Italy', 'Japan', 'Macau', 'Malaysia',
       'Mauritius', 'Netherland', 'New Zealand', 'Norway', 'Pakistan',
       'Portugal', 'Russian Federation', 'Saudi Arabia', 'Scotland',
       'Singapore', 'South Korea', 'SouthKorea', 'Spain', 'Sweden',
       'Thailand', 'Turkey', 'UK', 'USA', 'USofA', 'Urbana', 'germany'],
      dtype=object)

In [40]:
def listing(x):
    countries = professors[x].unique()
    countries.sort()
    letters = 'abcdefghijklmnopqrstuvxyz'
    for l in letters:
        t = [x for x in countries if re.search('^\s*'+l, x, re.I)]
        if t: print(t)
    return

In [41]:
listing('Country')

['Australia', 'Austria']
['Canada', 'China']
['Finland', 'France']
[' Germany', 'Greece', 'germany']
['HongKong']
['Ireland', 'Italy']
['Japan']
['Macau', 'Malaysia', 'Mauritius']
[' New Zealand', 'Netherland', 'New Zealand', 'Norway']
['Pakistan', 'Portugal']
['Russian Federation']
[' Sweden', 'Saudi Arabia', 'Scotland', 'Singapore', 'South Korea', 'SouthKorea', 'Spain', 'Sweden']
['Thailand', 'Turkey']
[' USA', 'UK', 'USA', 'USofA', 'Urbana']

Just looking at this, I can see some problems due to inconsistent data entry: ' Germany', and 'germany', for example, or ' New Zealand' and 'New Zealand'.

The first thing I'm going to do is make everything lower case (I can change it back at the end if I like) and remove any white spaces at the beginning and end of cells. Inconsistencies in capitalizations and trailing white spaces are very common in text data and you can fix a good 80% of your text data entry inconsistencies by doing this.

In [42]:
# convert to lower case
professors['Country'] = professors['Country'].str.lower()
# remove [leading &] trailing white spaces
professors['Country'] = professors['Country'].str.strip()

It does look like there is another inconsistency: 'southkorea' and 'south korea' should be the same.

We're going to use the [fuzzywuzzy](https://github.com/seatgeek/fuzzywuzzy) package to help identify which strings are closest to each other. This dataset is small enough that we could probably could correct errors by hand, but that approach doesn't scale well. (Would you want to correct a thousand errors by hand? What about ten thousand? Automating things as early as possible is generally a good idea. Plus, it’s fun!)

>Fuzzy matching: The process of automatically finding text strings that are very similar to the target string. In general, a string is considered "closer" to another one the fewer characters you'd need to change if you were transforming one string into another. So "apple" and "snapple" are two changes away from each other (add "s" and "n") while "in" and "on" and one change away (rplace "i" with "o"). You won't always be able to rely on fuzzy matching 100%, but it will usually end up saving you at least a little time.

Fuzzywuzzy returns a ratio given two strings. The closer the ratio is to 100, the smaller the edit distance between the two strings. Here, we're going to get the ten strings from our list of cities that have the closest distance to "south korea".

In [43]:
# get the top 10 closest matches to "south korea"
matches = fuzzywuzzy.process.extract("south korea", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

# take a look at them
matches

[('South Korea', 100),
 ('SouthKorea', 48),
 ('Saudi Arabia', 43),
 ('Norway', 35),
 ('Austria', 33),
 ('Ireland', 33),
 ('Pakistan', 32),
 ('Portugal', 32),
 ('Scotland', 32),
 ('Australia', 30)]

We can see that two of the items in the cities are very close to "south korea": "south korea" and "southkorea". Let's replace all rows in our "Country" column that have a ratio of > 47 with "south korea".

To do this, I'm going to write a function. (It's a good idea to write a general purpose function you can reuse if you think you might have to do a specific task more than once or twice. This keeps you from having to copy and paste code too often, which saves time and can help prevent mistakes.)

In [44]:
# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")

Now that we have a function, we can put it to the test!

In [45]:
# use the function we just wrote to replace close matches to "south korea" with "south korea"
replace_matches_in_column(df=professors, column='Country', string_to_match="south korea")

All done!

And now let's check the unique values in our "Country" column again and make sure we've tidied up "south korea" correctly.

In [46]:
listing('Country')

['australia', 'austria']
['canada', 'china']
['finland', 'france']
['germany', 'greece']
['hongkong']
['ireland', 'italy']
['japan']
['macau', 'malaysia', 'mauritius']
['netherland', 'new zealand', 'norway']
['pakistan', 'portugal']
['russian federation']
['saudi arabia', 'scotland', 'singapore', 'south korea', 'spain', 'sweden']
['thailand', 'turkey']
['uk', 'urbana', 'usa', 'usofa']

In [47]:
fuzzywuzzy.process.extract("usa", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

[(' USA', 100),
 ('USA', 100),
 ('USofA', 75),
 ('Austria', 60),
 ('Australia', 50),
 ('Spain', 50),
 ('Urbana', 44),
 ('UK', 40),
 ('Malaysia', 36),
 ('Pakistan', 36)]

In [48]:
replace_matches_in_column(df=professors, column='Country', string_to_match="usa", min_ratio=74)

All done!

In [49]:
listing('Country')

['australia', 'austria']
['canada', 'china']
['finland', 'france']
['germany', 'greece']
['hongkong']
['ireland', 'italy']
['japan']
['macau', 'malaysia', 'mauritius']
['netherland', 'new zealand', 'norway']
['pakistan', 'portugal']
['russian federation']
['saudi arabia', 'scotland', 'singapore', 'south korea', 'spain', 'sweden']
['thailand', 'turkey']
['uk', 'urbana', 'usa']

In [50]:
fuzzywuzzy.process.extract("Germany", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

[(' Germany', 100),
 ('germany', 100),
 ('Netherland', 47),
 ('France', 46),
 ('Norway', 46),
 ('Urbana', 46),
 ('Ireland', 43),
 ('Malaysia', 40),
 (' New Zealand', 33),
 ('Italy', 33)]

In [51]:
replace_matches_in_column(df=professors, column='Country', string_to_match="Germany", min_ratio=90)

All done!

In [19]:
listing('Country')

['Australia', 'Austria']
['Canada', 'China']
['Finland', 'France']
[' Germany', 'Greece', 'germany']
['HongKong']
['Ireland', 'Italy']
['Japan']
['Macau', 'Malaysia', 'Mauritius']
[' New Zealand', 'Netherland', 'New Zealand', 'Norway']
['Pakistan', 'Portugal']
['Russian Federation']
[' Sweden', 'Saudi Arabia', 'Scotland', 'Singapore', 'South Korea', 'SouthKorea', 'Spain', 'Sweden']
['Thailand', 'Turkey']
[' USA', 'UK', 'USA', 'USofA', 'Urbana']

# Exercise - Data Cleaning

# Get our environment set up

The first thing we'll need to do is load in the libraries and dataset we'll be using.  We use the same dataset from the tutorial.

In [52]:
# modules we'll use
import pandas as pd
import numpy as np

# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import chardet

# read in all our data
professors = pd.read_csv("../input/pakistan-intellectual-capital/pakistan_intellectual_capital.csv")

# set seed for reproducibility
np.random.seed(0)

Next, we'll redo all of the work that we did in the tutorial.

In [53]:
# convert to lower case
professors['Country'] = professors['Country'].str.lower()
# remove trailing white spaces
professors['Country'] = professors['Country'].str.strip()

# get the top 10 closest matches to "south korea"
countries = professors['Country'].unique()
matches = fuzzywuzzy.process.extract("south korea", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")
    
replace_matches_in_column(df=professors, column='Country', string_to_match="south korea")
countries = professors['Country'].unique()

All done!

### 1) Examine another column

Write code below to take a look at all the unique values in the "Graduated from" column.

In [54]:
unis = professors['Graduated from'].unique()

In [67]:
def xlisting(x, letters='abcdefghijklmnopqrstuvxyz'):
    c = professors[x].unique()
    c.sort()
    for l in letters:
        t = [x for x in c if re.search('^\s*'+l, x, re.I)]
        if t: print(t)
    return

In [70]:
xlisting('Graduated from', 'c')

[' Columbia University', 'CECOS University of Information Technology and Emerging Sciences,Peshawar', 'COMSATS Institute of Information Technology', 'COMSATS Institute of Information Technology,Islamabad', 'COMSATS Institute of Information Technology,Lahore', 'COMSATS Institute of Information Technology,Vehari', 'COMSATS Institute of Information Technology,Wah Cantt', 'California State University', 'Capital University of Science & Technology', 'Capital University of Science and Technology', 'Carnegie Mellon University, Pittsburgh', 'Centre for Advanced Studies in Engineering', 'Chalmers University of Technology', 'Chinese Academy of Sciences', 'Chosun University', 'City University of Science and Technology', 'Colorado State University', 'Colorado Technical University', 'Columbia University', 'Concordia University,Montreal', 'Coventry University', 'Cranfield University']

### 2) Do some text pre-processing
Convert every entry in the "Graduated from" column in the professors DataFrame to remove white spaces at the beginning and end of cells.

In [72]:
countries = professors['Country'].unique()

### 3) Continue working with countries
In the tutorial, we focused on cleaning up inconsistencies in the "Country" column. Run the code cell below to view the list of unique values that we ended with.

In [73]:
# get all the unique values in the 'City' column
countries = professors['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
listing('Country')

['australia', 'austria']
['canada', 'china']
['finland', 'france']
['germany', 'greece']
['hongkong']
['ireland', 'italy']
['japan']
['macau', 'malaysia', 'mauritius']
['netherland', 'new zealand', 'norway']
['pakistan', 'portugal']
['russian federation']
['saudi arabia', 'scotland', 'singapore', 'south korea', 'spain', 'sweden']
['thailand', 'turkey']
['uk', 'urbana', 'usa', 'usofa']

Take another look at the "Country" column and see if there's any more data cleaning we need to do.

It looks like 'usa' and 'usofa' should be the same country. Correct the "Country" column in the dataframe so that 'usofa' appears instead as 'usa'.

Use the most recent version of the DataFrame (with the whitespaces at the beginning and end of cells removed) from question 2.

In [76]:
fuzzywuzzy.process.extract("usa", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
replace_matches_in_column(df=professors, column='Country', string_to_match="usa", min_ratio=74)

All done!